@font-face {
    font-family: commodore;
    src: url(fonts/c64style/C64_Pro_Mono-STYLE.woff);
}
body {
    padding: 0;
    margin: 0;
    background-color: #08C;
    overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.view {
    width: 70%;
    height: 100%;
    font-size: 5em;
    font-family: "Courier New", Monospace;
    letter-spacing: -0.26em;
    line-height: 0.73em;
    transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    background-color: #08C;
    color: #0FF;
    font-weight: 800;
    overflow: hidden;
    word-break: break-all;
    margin-left: -1%;
}
.control-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    line-height: 0.9em;
    font-size: 14px;
    padding: 15px 10px 15px 25px;
    background-color: rgba(255,255,255,0.4);
    border-bottom-left-radius: 10px;
    color: #0D0C0C;
    z-index: 10;
}
.button-group button { width: 30%; }
#count {  width: 52%; float: left; height: 2.2em;  }
#infinite, [id^=render] { width: 20%; float: left; }
.render-styles input {
    margin: -5px 0 0 15px;
    width: 52%;
    float: right;
}
.render-styles label {
    float: left;
    width: 95%;
    text-align: right;
}
#fontColour { background-color: #0FF; }
#bgColour { background-color: #08C; }
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color: white;
}
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
    color: white;
}
p { width: 97%; margin-bottom: -5px; }
p a { font-size: 12px; color: #cccccc; text-decoration: none; float: right; }
p a:first-child {float: left;}
#presets, #typeface { width: 97%; height: 2.2em; margin: 4px 0; }